extends layout_iframe

block content
    iframe(
        src='https://embed.spotify.com/?uri=spotify:trackset:' + listname + ":" + tracklist + '&theme=' + theme + '&view=' + view, 
        frameborder='0', 
        allowtransparency='true',
        width=width + 'px', 
        height=height + 'px'
    )